.home-container{
    justify-content: center;
    width: 80em;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    display: flex;

}
.intro-class{
    height: auto;
    width: 55em;
}
.profile-picture-class{
    flex-grow: 2;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .random-shape-image {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image maintains aspect ratio */
    transition: all 0.3s ease; /* Smooth transition for shape changes */
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Optional: Add hover effect to trigger new random shape */
  .random-shape-image:hover {
    transform: scale(1.25); /* Slightly enlarge the image on hover */
  }

  #skills {
    text-align: center;
  }
  
  #skills ul {
    list-style: none;
    padding: 0;
  }
  
  #skills li {
    margin-bottom: 20px;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .progress {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
  }

  .skill-set-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
